.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px 60px;
	text-decoration: none !important;
	transition: all 500ms linear;
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
	border: 1px solid;
	white-space: nowrap;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 10px;

	@media(max-width: 767px) {
		width: 100%;
	}

	&_blue {
		background: $colorblue;
		border-color: $colorblue;
		color: #ffffff;

		&:hover {
			background: $colorbluehover;
			border-color: $colorbluehover;
		}
	}

	&_white {
		background: #ffffff;
		border-color: #ffffff;

		&:hover {
			background: transparent;
			color: #ffffff;
		}
	}

	&_sm {
		padding: 18px 33px;

		@media(max-width: 767px) {
			padding: 23px 33px;
		}
	}
}
