@import "settings/mixins";
@import "settings/fonts";
@import "settings/vendor";
@import "settings/vars";
@import "settings/base";
@import "settings/animation";
@import "elements/button";
@import "elements/header";
@import "elements/footer";
@import "elements/forms";
@import "elements/modal";
@import "elements/popup";
@import "elements/loading";

.main {
	position: relative;
	background: #0C0F1D url(../assets/images/banner_bg.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	@media(max-width: 767px) {
		background-attachment: scroll;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none;
		background: linear-gradient(98.19deg, rgba(19, 26, 36, 0.78) 15.37%, rgba(19, 26, 36, 0.78) 50.93%, rgba(19, 26, 36, 0) 80.04%, rgba(229, 229, 229, 0.78) 111.87%);

		@media(max-width: 767px) {
			background: rgba(#131A24, .7);
		}
	}

	.block {
		padding-top: 200px;
		padding-bottom: 50px;
		z-index: 2;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		@media(max-width: 767px) {
			min-height: 0;
			height: 90vh;
			padding-top: 300px;
			justify-content: space-between;
		}

		@media(max-width: 400px) {
			padding-top: 250px;
		}
	}

	.main__title {
		margin: 0 0 50px;
		font-size: 100px;
		line-height: 100px;
		font-weight: 700;
		color: #ffffff;
		text-shadow: 0 0 1px rgba(#000, .4);

		@media(max-width: 1000px) {
			font-size: 70px;
			line-height: 70px;
		}

		@media(max-width: 767px) {
			font-size: 50px;
			line-height: 60px;
		}

		@media(max-width: 400px) {
			font-size: 30px;
			line-height: 40px;
		}
	}
}

.services {
	.block {
		@media(max-width: 767px) {
			padding-bottom: 50px !important;
		}
	}

	&__desc {
		margin: 0 0 40px;
		max-width: 70%;
		font-size: 22px;
		line-height: 29px;

		@media(max-width: 767px) {
			max-width: none;
			font-size: 18px;
			line-height: 23px;
			margin: 0 0 30px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: -30px 0;
		padding: 0;

		@media(max-width: 767px) {
			margin: -20px 0;
		}
	}

	&__entry {
		display: flex;
		flex-direction: column;
		width: 25%;
		margin: 30px 0;
		padding-right: 20px;
		box-sizing: border-box;

		@media(max-width: 767px) {
			width: 50%;
			margin: 20px 0;
		}

		.entry__img {
			display: flex;
			align-items: center;
			width: 105px;
			height: 105px;
			margin: 0 0 35px;

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		a {
			font-size: 30px;
			font-weight: 500;
			color: $colorbase;
			text-decoration: underline;

			@media(max-width: 1200px) {
				font-size: 24px;
			}

			@media(max-width: 1000px) {
				font-size: 18px;
			}

			@media(max-width: 400px) {
				font-size: 16px;
			}

			&:hover {
				color: $colorblue;
				text-decoration: underline;
			}
		}
	}
}

.why {
	background: $colorblue url(../assets/images/why_bg.svg) left 20% no-repeat;
	background-attachment: fixed;
	color: #ffffff;

	.block {
		@media(max-width: 767px) {
			padding-bottom: 60px !important;
		}
	}

	&__title {
		position: relative;
		display: flex;
		align-items: flex-end;
		margin: 0 0 20px;
		font-weight: bold;
		font-size: 70px;
		line-height: 84px;

		@media(max-width: 1000px) {
			align-items: center;
			font-size: 55px;
			line-height: 60px;
		}

		@media(max-width: 767px) {
			margin: 0 0 50px;
			flex-direction: column;
			align-items: flex-start;
			font-size: 40px;
			line-height: 45px;
		}

		@media(max-width: 400px) {
			font-size: 30px;
			line-height: 36px;
		}

		img {
			display: block;
			width: 176px;
			margin-right: 16px;
			flex-shrink: 0;

			@media(max-width: 1000px) {
				width: 150px;
			}

			@media(max-width: 767px) {
				width: 170px;
				margin: 0 auto 30px;
			}

			@media(max-width: 400px) {
				width: 120px;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		counter-reset: why;
		margin: 0 0 20px;

		@media(max-width: 767px) {
			flex-direction: column;

			&.vis {
				.why__entry {
					display: block !important;
				}
			}
		}
	}

	&__entry {
		width: 30%;
		margin: 40px 0;

		@media(max-width: 1000px) {
			width: 48%;

			&:last-child {
				margin-left: auto;
				margin-right: auto;
			}
		}

		@media(max-width: 767px) {
			width: 100%;
			margin: 0 0 40px !important;

			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9) {
				display: none;
			}
		}

		@media(max-width: 400px) {
			margin: 0 0 20px;
		}

		.entry__title {
			display: flex;
			align-items: center;
			margin: 0 0 20px;
			font-weight: 500;
			font-size: 35px;
			line-height: 40px;
			letter-spacing: -0.03em;

			@media(max-width: 1200px) {
				font-size: 28px;
				line-height: 34px;
			}

			@media(max-width: 400px) {
				font-size: 24px;
				line-height: 28px;
			}

			@media(max-width: 767px) {
				margin: 0;
			}

			&:before {
				counter-increment: why;
				content: counter(why);
				margin-right: 20px;
				font-weight: 900;
				font-size: 150px;
				line-height: 120px;
				background: linear-gradient(to bottom, #fff, rgba(#fff, .5) 35%, $colorblue 75%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				@media(max-width: 400px) {
					font-size: 100px;
					margin-right: 10px;
				}
			}
		}

		.entry__text {
			font-size: 20px;
			line-height: 26px;
			color: rgba(255, 255, 255, 0.5);

			@media(max-width: 1200px) {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	.why-show-more {
		display: none;

		@media(max-width: 767px) {
			display: block;
			margin: 0 0 50px 0;
			text-align: center;
			font-weight: bold;
			font-size: 18px;
			color: #ffffff;
			text-decoration: none;
		}
	}
}

.round_bg {
	background: url(../assets/images/round_bg.png) no-repeat;
}

.about {
	width: 100%;
	overflow: hidden;

	&__container {
		display: flex;
		align-items: center;

		@media(max-width: 1000px) {
			flex-direction: column;
		}
	}

	&__left {
		position: relative;
		z-index: 4;
		flex-grow: 1;
	}

	&__right {
		position: relative;
		width: 440px;
		flex-shrink: 0;
		margin-left: 100px;

		@media(max-width: 1000px) {
			margin: 20px auto 0;
		}

		@media(max-width: 767px) {
			width: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 738px;
			height: 738px;
			animation: rotate 150s linear infinite;
			background: url(../assets/images/about_bg.png) no-repeat;
			background-size: contain;

			@media(max-width: 767px) {
				content: none;
			}
		}

		img {
			position: relative;
			z-index: 2;
			display: block;
			width: 100%;
			border-radius: 90px 0;

			@media(max-width: 767px) {
				height: 340px;
				object-fit: cover;
				object-position: center bottom;
			}
		}
	}

	&__subtitle {
		margin: 0 0 50px;
		font-size: 40px;
		line-height: 47px;
		color: #2B2D33;

		@media(max-width: 1200px) {
			margin: 0 0 30px;
			font-size: 30px;
			line-height: 36px;
		}

		span {
			color: $colorblue;
			white-space: nowrap;

			@media(max-width: 767px) {
				white-space: normal;
			}
		}

		@media(max-width: 1200px) {
			br {
				display: none;
			}
		}
	}

	p {
		font-size: 22px;
		line-height: 29px;

		a {
			color: $colorblue;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.btn {
		margin-top: 40px;

		@media(max-width: 767px) {
			margin-top: 47px;
		}
	}
}

.vis767 {
	display: none;

	@media(max-width: 767px) {
		display: block;
	}
}

.equipment {
	&__subtitle {
		margin: 0 0 70px;
		font-size: 40px;
		line-height: 47px;
		color: #2B2D33;

		@media(max-width: 1200px) {
			margin: 0 0 50px;
			font-size: 30px;
			line-height: 36px;
		}

		@media(max-width: 400px) {
			font-size: 22px;
			line-height: 28px;
		}

		span {
			color: $colorblue;
		}
	}

	.slick-track {
		display: flex !important;
		align-items: center;

		img {
			display: block;
			max-width: 200px;
			margin: 0 40px;
		}
	}
}

.steps {

	.block {
		@media(max-width: 767px) {
			padding-top: 90px !important;
		}
	}
	.main-title {
		margin-bottom: 70px;

		@media(max-width: 1200px) {
			margin-bottom: 50px;
		}

		@media(max-width: 767px) {
			margin-bottom: 40px !important;
			text-align: center;
		}

	}
	&__list {
		display: flex;
		align-items: flex-start;

		@media(max-width: 1000px) {
			flex-wrap: wrap;
			margin: -15px 0;
		}

		@media(max-width: 767px) {
			flex-direction: column;
		}
	}

	&__entry {
		width: 32%;
		margin: 0 0 0 120px;
		box-sizing: border-box;

		&:first-child {
			margin: 0;
		}

		@media(max-width: 1000px) {
			width: 50% !important;
			margin: 20px 0 !important;
		}

		@media(max-width: 767px) {
			width: 100% !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&:nth-child(3),
		&:nth-child(4) {
			width: 18%;
		}

		.entry__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 66px;
			height: 66px;

			@media(max-width: 767px) {
				width: 75px;
				height: 75px;
				margin: 0 0 10px;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.entry__step {
			margin: 14px 0 25px;
			font-weight: 500;
			font-size: 20px;
			line-height: 26px;
			color: #2260EA;

			@media(max-width: 767px) {
				margin: 0 0 20px;
			}
		}

		.entry__title {
			font-size: 35px;
			line-height: 42px;

			@media(max-width: 1200px) {
				font-size: 28px;
				line-height: 34px;
			}

			@media(max-width: 400px) {
				font-size: 22px;
				line-height: 28px;
			}
		}

		.entry__text {
			margin: 22px 0 0;
			font-size: 20px;
			line-height: 26px;
			color: #808185;
		}
	}
}

.works {
	@media(max-width: 767px) {
		width: 100%;
		overflow: hidden;
		padding: 30px 0;
	}

	.main-title {
		margin-bottom: 30px;
	}

	.slick-list {
		@media(max-width: 767px) {
			padding-right: 10%;
		}
	}

	&__list {
		@media(max-width: 767px) {
			margin-right: -10px;
			width: calc(100% + 10px);
		}
	}

	&__entry {
		display: grid !important;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 26px;
	}

	a {
		position: relative;
		
		&:before {
			content: 'Открыть';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 22px;
			color: #ffffff;
			text-decoration: underline;
			background: linear-gradient(352.91deg, rgba(34, 96, 234, 0.5) 5.38%, rgba(34, 96, 234, 0.5) 90.58%);
			pointer-events: none;
			opacity: 0;
			transition: all 200ms linear;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
		
		&:first-child {
			grid-row: 1/3;
			grid-column: 1/3;
		}

		@media(max-width: 767px) {
			display: block;
			margin-right: 15px;
		}
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

		@media(max-width: 767px) {
			height: 350px;
			object-fit: cover;
			object-position: center;
		}
	}

	.slick-arrow {
		position: absolute;
		right: 0;
		top: -100px;
		font-size: 0;
		width: 60px;
		height: 60px;
		padding: 0;
		border: 1px solid $colorblue;
		background: #fff url(../assets/images/svg/arr_blue_8x15.svg) center no-repeat;
		border-radius: 50%;
		transition: all 200ms linear;
		cursor: pointer;

		@media(max-width: 767px) {
			right: 10px;
			top: auto;
			bottom: -20px;
			width: 50px;
			height: 50px;
		}

		@media(max-width: 400px) {
			display: none !important;
		}

		&:hover {
			background: $colorblue url(../assets/images/svg/arr_white_8x15.svg) center no-repeat;
		}

		&.slick-prev {
			right: 80px;
			transform: scale(-1, 1);

			@media(max-width: 767px) {
				right: auto;
				left: 0;
			}
		}
	}

	.slick-dots {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 50px 0 0;
		padding: 0;

		@media(max-width: 767px) {
			margin: 37px 13px 0 0;
		}

		li {
			margin: 0 10px;

			@media(max-width: 767px) {
				margin: 0 4px;
			}

			button {
				font-size: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				border: none;
				border-radius: 5px;
				background: #DDE0E4;
				transition: all 200ms linear;
				cursor: pointer;
				
				&:hover {
					background: rgba($colorblue, .7);
				}
			}

			&.slick-active {
				button {
					width: 50px;
					background: $colorblue;
				}
			}
		}
	}
}

.reviews {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 0 !important;
	padding-right: 0 !important;

	.main-title {
		margin: 0 0 25px;
	}

	p {
		font-size: 22px;
		line-height: 27px;

		@media(max-width: 767px) {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__list {
		margin-top: 20px;
	}

	.slick-track {
		display: flex !important;

		@media(max-width: 767px) {
			display: block !important;
		}
	}

	.slick-list {
		padding: 30px 30% 30px 0 !important;
		overflow: visible !important;

		@media(max-width: 767px) {
			padding: 20px 0 !important;
		}
	}

	&__entry {
		display: flex !important;
		height: auto !important;
		padding: 60px 40px;
		margin: 0 25px 0 0;
		background: rgba(255, 255, 255, 0.6);
		box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(20px);
		opacity: .5;
		transition: all 200ms linear;

		&.slick-active {
			opacity: 1;
		}

		@media(max-width: 767px) {
			flex-direction: column;
			margin: 0;
			padding: 20px 15px 15px;
			background: #ffffff;
		}

		.entry__photo {
			position: relative;
			width: 200px;
			margin-right: 35px;
			flex-shrink: 0;

			@media(max-width: 767px) {
				width: 100%;
				margin: 0 0 20px;
			}

			img {
				display: block;
				width: 100%;
				box-shadow: 0 0 1px rgba(#000,.3);
			}

			&:before {
				content: 'Открыть';
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: #ffffff;
				font-weight: bold;
				font-size: 22px;
				line-height: 29px;
				text-decoration: underline;
				background: rgba($colorblue, .6);
				pointer-events: none;
				transition: all 200ms linear;
				opacity: 0;
			}

			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}

		.entry__title {
			margin: 0 0 15px;
			font-weight: 500;
			font-size: 30px;
			line-height: 36px;

			@media(max-width: 767px) {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}

	&__arr {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 20;
		font-size: 0;
		width: 60px;
		height: 60px;
		padding: 0;
		border: 1px solid $colorblue;
		background: #fff url(../assets/images/svg/arr_blue_8x15.svg) center no-repeat;
		border-radius: 50%;
		transition: all 200ms linear;
		cursor: pointer;

		@media(max-width: 767px) {
			right: 10px;
			width: 50px;
			height: 50px;
			top: auto;
			bottom: -22px;
		}

		@media(max-width: 400px) {
			bottom: 0;
		}

		&:hover {
			background: $colorblue url(../assets/images/svg/arr_white_8x15.svg) center no-repeat;
		}

		&_prev {
			right: 80px;
			transform: scale(-1, 1);

			@media(max-width: 767px) {
				right: auto;
				left: 10px;
			}
		}
	}

	.slick-dots {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0 0;
		padding: 0;

		@media(max-width: 767px) {
			margin: 10px 0 25px;
		}

		li {
			margin: 0 10px;

			button {
				font-size: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				border: none;
				border-radius: 5px;
				background: #DDE0E4;
				transition: all 200ms linear;
			}

			&.slick-active {
				button {
					width: 50px;
					background: $colorblue;
				}
			}
		}
	}
}

.contacts {
	.block {
		padding-bottom: 130px;

		@media(max-width: 767px) {
			padding-bottom: 50px !important;
		}
	}

	.main-title {
		margin-bottom: 20px;
	}

	&__container {
		display: flex;

		@media(max-width: 767px) {
			flex-direction: column;
		}
	}

	&__left {
		flex-grow: 1;

		p {
			font-size: 22px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media(max-width: 767px) {
			flex-direction: column;
		}
	}

	&__entry {
		@media(max-width: 767px) {
			margin: 0 0 25px;
		}

		&:last-child {
			width: 100%;
			margin-top: 30px;

			@media(max-width: 767px) {
				margin: 0;
			}

			p {
				margin: 0 0 26px;
				font-size: 22px;
				line-height: 35px;
				color: #2B2D33;

				@media(max-width: 1000px) {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}

		.entry__title {
			position: relative;
			margin: 0 0 10px;
			padding: 0 0 0 20px;
			font-size: 40px;
			line-height: 47px;

			@media(max-width: 1200px) {
				margin: 0 0 12px;
				font-size: 30px;
				line-height: 30px;
			}

			@media(max-width: 1000px) {
				font-size: 30px;
				line-height: 30px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 4px;
				height: 28px;
				background: $colorblue;
			}
		}

		a {
			font-size: 22px;
			line-height: 35px;
			color: #2B2D33;
			text-decoration: none;

			@media(max-width: 1000px) {
				font-size: 18px;
				line-height: 26px;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__ask {
		width: 500px;
		margin-left: 100px;
		padding: 40px 25px;
		flex-shrink: 0;
		color: #ffffff;
		box-sizing: border-box;
		background: $colorblue url(../assets/images/svg/ask_bg.svg) right center no-repeat;

		@media(max-width: 1000px) {
			width: 400px;
			margin-left: 30px;
		}

		@media(max-width: 767px) {
			width: calc(100% + 20px);
			padding: 50px 15px;
			margin: 0 -10px 15px;
		}

		.ask__title {
			margin: 0 0 20px;
			font-size: 40px;
			line-height: 47px;

			@media(max-width: 1000px) {
				font-size: 30px;
				line-height: 36px;
			}
		}

		p {
			margin: 0 50px 30px 0;
			font-size: 20px;
			line-height: 26px;

			@media(max-width: 1000px) {
				margin: 0 0 20px;

				br {
					display: none;
				}
			}
		}
	}

	&__map {
		height: 350px;
	}
}

.form {
	position: relative;
	background: #161b2b url(../assets/images/form_bg.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #ffffff;

	@media(max-width: 767px) {
		background: url(../assets/images/form_bg_mob.jpg) no-repeat;
		background-size: cover;

		.block {
			padding-bottom: 50px !important;
		}
	}
	
	.loading {
		background: rgba($colorbase, .6);
	}

	.main-title {
		margin: 0 0 30px;
		font-size: 60px;
		line-height: 70px;

		@media(max-width: 767px) {
			font-size: 44px !important;
			line-height: 52px !important;
		}
	}

	p {
		font-size: 22px;
	}

	.form__caption {
		color: #ffffff;
	}

	.form__input {
		background: rgba(199, 208, 225, 0.3);
		border: 1px solid #C7D0E1;
		color: #ffffff;

		&:focus {
			background: #ffffff;
			border-color: #ffffff;
			color: $colorbase;
		}

		&::-webkit-input-placeholder {
			color: rgba(#fff, .5);
		}

		&::-moz-placeholder {
			color: rgba(#fff, .5);
		}

		&:-ms-input-placeholder {
			color: rgba(#fff, .5);
		}

		&:-moz-placeholder {
			color: rgba(#fff, .5);
		}
	}
}

.price {
	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		padding-top: 20px;
		background-color: $colorblue;
		background-position: 40px center;
		background-repeat: no-repeat;
		color: #ffffff;
		box-sizing: border-box;

		@media(max-width: 767px) {
			padding-top: 30px;
			padding-bottom: 40px;
		}
	}

	&__title {
		margin: 0 0 60px;
		font-size: 60px;
		line-height: 64px;

		& + .price__subtitle {
			margin: 0 0 30px;
		}

		@media(max-width: 767px) {
			font-size: 40px !important;
			line-height: 47px !important;
			margin: 0 0 30px !important;
		}

		@media(max-width: 400px) {
			font-size: 35px !important;
			line-height: 42px !important;
			margin: 0 0 20px !important;
		}
	}

	&__tbl {
		@media(max-width: 767px) {
			width: 100%;
			overflow: auto;
		}
	}

	&__subtitle {
		margin: 50px 0 30px;
		font-size: 28px;
		line-height: 36px;
		font-weight: 700;

		@media(max-width: 767px) {
			margin: 30px 0;
		}
	}

	ul {
		margin: 0 0 30px;

		li {
			font-size: 22px;
			line-height: 27px;
			margin: 0 0 20px;
		}
	}

	p {
		font-size: 22px;
		line-height: 27px;
		margin: 0 0 30px;

		@media(max-width: 767px) {
			margin: 0 0 20px;
			font-size: 18px;
			line-height: 24px;
		}

		b {
			text-decoration: underline;
			font-weight: 700;
		}
	}

	&__price {
		position: relative;
		margin: 50px 0;
		padding: 0 0 0 20px;
		font-size: 25px;

		@media(max-width: 767px) {
			margin: 30px 0;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 4px;
			height: 31px;
			background: #ffffff;
		}
	}

	.desc__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(max-width: 767px) {
			flex-direction: column;
			align-items: stretch;

			.btn {
				margin-bottom: 30px;
			}
		}
	}

	&__download {
		display: flex;
		align-items: center;
		font-size: 22px;
		line-height: 24px;
		color: #ffffff;
		text-decoration: underline;

		@media(max-width: 400px) {
			font-size: 20px;
		}

		&:hover {
			text-decoration: none;
		}

		&:before {
			content: '';
			flex-shrink: 0;
			width: 44px;
			height: 50px;
			margin-right: 25px;
			background: url(../assets/images/svg/icon_pdf.svg) no-repeat;

			@media(max-width: 400px) {
				margin-right: 15px;
			}
		}
	}

	&__lists {
		.price__title {
			font-size: 45px;
			line-height: 55px;
			margin: 0 0 11px;
		}
	}

	&__entry {
		margin: 0 0 100px;

		@media(max-width: 767px) {
			margin: 0 0 30px;
		}

		&:last-child {
			margin: 0;

			@media(max-width: 767px) {
				padding: 0 0 40px;
			}
		}
	}

	&__tbl {
		&.smallpadding {
			table {
				th, td {
					white-space: nowrap;
					padding-left: 15px !important;
					padding-right: 15px !important;
				}
			}
		}

		table {
			width: 100%;
			border-collapse: collapse;

			th {
				width: 25%;
				text-align: left;
				padding: 25px 35px;
				font-size: 18px;
				font-weight: 400;
				color: #ffffff;
				background: #1542A6;

				@media(max-width: 767px) {
					padding: 10px 15px;
					font-size: 16px;
				}
			}

			td {
				padding: 15px 35px;
				font-size: 18px;

				@media(max-width: 767px) {
					padding: 10px 15px;
					font-size: 14px;
				}
			}

			tr {
				&:nth-child(odd) {
					background: #F3F8FF;
				}
			}
		}
	}

	&__alert {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 50px 0;
		font-weight: 500;
		font-size: 20px;
		color: #FF0000;

		&:before {
			content: '';
			flex-shrink: 0;
			width: 30px;
			height: 30px;
			margin-right: 20px;
			background: url(../assets/images/svg/alert.svg) no-repeat;
			background-size: contain;

			@media(max-width: 400px) {
				margin-right: 15px;
			}
		}
	}

	.btn-container {
		margin-top: 50px;
	}
}